In [ ]:
''' Artificial Neural Networks ANN '''

In [31]:
''' I M P O R T   L I B R A R I E S '''
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [32]:
tf.__version__

'2.9.1'

In [46]:
''' I M P O R T I N G   D A T A S E T '''
dataset = pd.read_csv('Churn_Modelling.csv')
x = dataset.iloc[:, 3:-1].values    
y = dataset.iloc[:, -1].values    
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [47]:
''' E N C O D I N G   C A T E G O R I A L   D A T A '''
from sklearn.preprocessing import LabelEncoder  # repleace 2 types of data to 0 and 1
le = LabelEncoder()                             # initialize the encoding
x[:, 2] = le.fit_transform(x[:, 2])             
x

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [35]:
from sklearn.compose import ColumnTransformer                                                       
from sklearn.preprocessing import OneHotEncoder                                                     
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')   # all default but the [1] is the column index so the 2nd column
x = np.array(ct.fit_transform(x))    
x

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [36]:
# splitting the dataset into a training set to test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [37]:
# feature scalling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [38]:
''' B U I L D I N G   A N N '''
# initialize the ANN
ann = tf.keras.models.Sequential()

In [39]:
# add a hinned layer
ann.add(tf.keras.layers.Dense(units=5, activation='relu'))

In [40]:
# add a second hinned layer
ann.add(tf.keras.layers.Dense(units=5, activation='relu'))

In [41]:
# add the output layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [42]:
''' T R A I N I N G   T H E   A N N  '''
# compiling
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [43]:
# training the ANN on the training set
ann.fit(X_train, Y_train, batch_size=32, epochs=25)

Epoch 1/25
250/250 [==============================] - 6s 6ms/step - loss: 0.5804 - accuracy: 0.7751
Epoch 2/25
250/250 [==============================] - 1s 5ms/step - loss: 0.4935 - accuracy: 0.7985
Epoch 3/25
250/250 [==============================] - 1s 4ms/step - loss: 0.4585 - accuracy: 0.8071
Epoch 4/25
250/250 [==============================] - 1s 5ms/step - loss: 0.4432 - accuracy: 0.8073
Epoch 5/25
250/250 [==============================] - 1s 5ms/step - loss: 0.4360 - accuracy: 0.8065
Epoch 6/25
250/250 [==============================] - 1s 5ms/step - loss: 0.4302 - accuracy: 0.8109
Epoch 7/25
250/250 [==============================] - 1s 6ms/step - loss: 0.4239 - accuracy: 0.8156
Epoch 8/25
250/250 [==============================] - 1s 6ms/step - loss: 0.4175 - accuracy: 0.8202
Epoch 9/25
250/250 [==============================] - 1s 5ms/step - loss: 0.4081 - accuracy: 0.8260
Epoch 10/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3940 - accuracy: 0.8338
Epoch 11/25
250/250 [==============================] - 1s 6ms/step - loss: 0.3824 - accuracy: 0.8401
Epoch 12/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3740 - accuracy: 0.8443
Epoch 13/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3672 - accuracy: 0.8486
Epoch 14/25
250/250 [==============================] - 2s 6ms/step - loss: 0.3622 - accuracy: 0.8495
Epoch 15/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3584 - accuracy: 0.8496
Epoch 16/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3561 - accuracy: 0.8524
Epoch 17/25
250/250 [==============================] - 1s 6ms/step - loss: 0.3541 - accuracy: 0.8528
Epoch 18/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3529 - accuracy: 0.8543
Epoch 19/25
250/250 [==============================] - 1s 6ms/step - loss: 0.3516 - accuracy: 0.8533
Epoch 20/25
250/250 [==============================] - 2s 6ms/step - loss: 0.3504 - accuracy: 0.8556
Epoch 21/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3494 - accuracy: 0.8558
Epoch 22/25
250/250 [==============================] - 1s 6ms/step - loss: 0.3482 - accuracy: 0.8551
Epoch 23/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3473 - accuracy: 0.8572
Epoch 24/25
250/250 [==============================] - 1s 5ms/step - loss: 0.3466 - accuracy: 0.8569
Epoch 25/25
250/250 [==============================] - 1s 6ms/step - loss: 0.3454 - accuracy: 0.8574

In [ ]:
''' Now that the model is built, trained and tested, its time to check if the customer
    Jhon White he's going to leave the Bank.
    We now this information about him:

    Geography: France
    Credit Score: 600
    Gender: Male
    Age: 40
    Tenure: 3 years
    Balance: $ 60000
    Products: 2
    Does own a credit card? Yes
    Is an Active Member? Yes
    Estimated salary: $ 50000

    Let's see if Jhon is going to stay or leave teh bank.
     '''

In [53]:
ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))

1/1 [==============================] - 0s 79ms/step

array([[0.037297]], dtype=float32)